@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,900&display=swap');
:root{
 font-family: 'Merriweather', serif;
 --appleRed:#fc3c44;
 --appleLogo:#f94c57;
 --appleColor:#c2cad7;
 --appleAddColors:#5856d5;
 --appleIcons:#A6D2FF;
 --applePalette:#929292;
 --appleFeed:#000000;
}


body{
background: rgb(252,60,68);
background: linear-gradient(120deg, rgba(252,60,68,1) 0%, rgba(249,76,87,1) 35%, rgba(194,202,215,1) 100%);
}

.App{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
